<div fxLayout="column" fxLayoutAlign="space-around center" id="login-screen">
  <mat-icon aria-hidden="false" aria-label="Example home icon" fxFlexAlign="end" routerLink="/" style="cursor: pointer">
    close
  </mat-icon>
  <div fxLayout="column"
       id="login-box">
    <router-outlet></router-outlet>
  </div>
  <p class="text-muted text-center" id="login-info">* By signing up, you agree to our Terms of Use and to receive
    Artfolios emails & updates and acknowledge that you read our Privacy Policy. You also acknowledge that Artfolios
    uses cookies to give the best user experience.</p>
</div>
