<footer class="bg-dark text-light" fxLayout="column" fxLayoutAlign="center center">
  <div id="footer-top">
  </div>
  <div class="container" id="footer-middle">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget subscribe no-box">
          <h5 class="widget-title">Artfolios<span></span></h5>
          <img alt="logo" src="../../../../../assets/artfolios_logo_small.png"/>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget no-box">
          <h5 class="widget-title">Quick Links<span></span></h5>
          <ul class="thumbnail-widget">
            <li><a href="#">About</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Developer docs</a></li>
            <li><a href="#">Support center</a></li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget no-box">
          <h5 class="widget-title">Get Started<span></span></h5>
          <p>Start your life as professional artist and create your own portfolio.</p>
          <button [class.d-none]="isLoggedIn" class="btn btn-outline-primary" routerLink="/register">Register Now
          </button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget no-box">
          <h5 class="widget-title">Contact Us<span></span></h5>
          <p>Have you found a bug? This is very possible, so do not hesitate and tell us all about it!</p>
          <p><i class="icon ion-md-heart"></i><a href="mailto:olinnn10@gmail.com">Send bug report</a></p>
          <ul class="social-footer2">
            <li><a href="https://www.youtube.com/" target="_blank" title="YouTube">
              <ion-icon name="logo-youtube" size="large"></ion-icon>
            </a></li>
            <li><a href="https://www.facebook.com/" target="_blank" title="Facebook">
              <ion-icon name="logo-facebook" size="large"></ion-icon>
            </a></li>
            <li><a href="https://twitter.com" target="_blank" title="Twitter">
              <ion-icon name="logo-twitter" size="large"></ion-icon>
            </a></li>
            <li><a href="https://www.instagram.com/" target="_blank" title="Instagram">
              <ion-icon name="logo-instagram" size="large"></ion-icon>
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-bottom">
    <p class="m-0">2019 &copy; ArtfoliosTeam | All rights reserved</p>
  </div>
</footer>
