@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');
.section-card {
  padding: 7px;
}

.section-card > h1 {
  margin: 10px;
  font-size: 150%;
  font-family: 'Calistoga', cursive;
}

