@import "../authorisation-display/authorisation-display.component";

#login-box {
  max-width: 90vw;
  width: 500px;
  padding: 30px;
}

.login-title {
  font-size: 200%;
}

.login-subtitle {
  font-size: 110%;
}


