<h2 class="login-title">Reset</h2>
<p class="login-title login-subtitle">Get new password real quick</p>
<form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" >

  <div class="form-group">
    <label class="m-0 p-0" for="email">Email</label>
    <input type="text" id="email" class="form-control"  formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
    <div *ngIf="f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
    </div>
  </div>


  <div class="form-group" fxLayout="row">
    <button class="btn btn-outline-primary" fxFlex="70" fxFlexOffset="30">Send me reset link</button>
  </div>

  <div class="alert alert-danger form-group"  *ngIf="showErrorMessage" >
    <p>{{errorMessage}}</p>
  </div>
  <p class="font-weight-light">Great! Now go check your e-mail inbox, chop chop!</p>

</form>

